/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html {
	box-sizing: border-box;
	font-family: monospace;
}

*, *:before, *:after {
	box-sizing: inherit;
}

img {
	width: 100%;
	height: auto;
}

/*.container {*/
	/*margin: 0 auto;*/
	/*padding: 0 2rem;*/
/*}*/

/*.clearfix {*/
	/*clear: both;*/
/*}*/

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html {
	display: flex;
}

body {
	width: 100%;
}

/*.sfooter {*/
	/*display: flex;*/
	/*flex-direction: column;*/
	/*min-height: 100vh;*/
/*}*/

/*.sfooter-content {*/
	/*flex: 1 0 auto;*/
/*}*/

/*****************************************************

* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/
body {
	font-family: "monospace";
}

.container {
}
/*.center {*/
	/*display: inline;*/
	/*height: 100%;*/
	/*width: 100%;*/
/*}*/

header {
	width: 100%;
	background-color: #444;
	color: #00FF00;
	padding: 2em 0;
}

header h1, em {
	display: inline;
	margin-right: 1em;
}

/*INSTRUCTIONS PANEL:*/

.instructions {
	width: 100%;
	margin: 2rem 0;
	border: 1px solid red;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/** makes the instructions section a flexbox and elements inside to be scalable**/


.instructions > .image-wrapper {
	flex: 0 1 auto;
	margin: 3rem auto;
	border: 1px solid red;
	padding: 0 1rem;
}

.instructions > .container {
	border: 3px solid black;
	display: flex;
	flex-flow: wrap;
	align-items: center;
	justify-content: center;
	width: 80%;
}

.instructions > .container > .content-wrapper {
	width: 50%;
	margin: 2rem;
	min-width: 17rem;
	word-wrap: break-word;
	padding: 0;
}

.instructions > .container > .image-wrapper {
	width: 25%;
	margin: 2rem;
	min-width: 17rem;
}


/*img[alt*="captain janeway"] */

/*.instructions-content ol {*/
	/*width: 65%;*/
/*}*/

/*.instruction-content small:before {*/
	/*content: "\A";*/
	/*white-space: pre;*/
/*}*/

.about-me {
	color: #fff;
	background-color: #0000ff;
	padding: 60px;
}

img[alt*="captain picard"] {
	float: left;
	display: inline;
	vertical-align: middle;
	background-color: #fff;
	max-height: 250px;
	padding: .25vw;
	margin-right: 20px;
}

.about-me h2 {
	display: inline;
}

.about-me span {
	color: #ffff00;
	text-shadow: #000;
	font-style: italic;
}

/**styling table elements**/


section:nth-child(4) {
	padding: 60px;
}

section:nth-child(4) h2 {
	padding: 60px;
	float: right;
}

table {
	table-layout: auto;
	width: 100%;
}

th, td {
	padding: 1em;
	color: #00FF00;
	border: solid .1rem #fff;
	text-align: left;
	background-color: #333333;
}

/** styling the contact form**/

section:nth-child(5) {
	background-color: #333333;
	padding: 20px;
}

.form-wrapper {
	display: flex;
	color: #00FF00;
	background-color: rgb(0, 100, 0);
	padding: 30px;
	flex-wrap: wrap;
	flex-direction: column;
}

.form-wrapper button {
	color: #000;
	background-color: #00FF00;
	font-weight: bold;
	padding: 5px 20px;
	border: none;
}

/**styling the footer*/

footer {
	width: 100%;
	background-color: #000;
	color: #FFF;
	padding: 20px 0;
	text-align: center;
}